<script lang="ts">
    import Tailwindcss from "./Tailwindcss.svelte";

    import NavBar from './Navbar.svelte';
    import Route from './Route.svelte';

    let name:string;
</script>

<NavBar/>
<Route name='{name}'/>  <!--route outlet-->