<script lang="ts">
    export let name: string;
</script>

<!-- The below is based upon the Tailwind UI free sample components (https://tailwindui.com/preview) -->
<div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div
                    class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
            >
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                    <tr>
                        <th
                                scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                        >
                            Name
                        </th>
                        <th
                                scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                        >
                            Title
                        </th>
                        <th
                                scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                        >
                            Status
                        </th>
                        <th
                                scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                        >
                            Role
                        </th>
                        <th scope="col" class="relative px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                    <tr class="hover:bg-gray-200">
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="ml-4">
                                <div
                                        class="text-sm font-medium text-gray-900"
                                >
                                    Jane Cooper
                                </div>
                                <div class="text-sm text-gray-500">
                                    jane.cooper@example.com
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="text-sm text-gray-900">
                                Regional Paradigm Technician
                            </div>
                            <div class="text-sm text-gray-500">
                                Optimization
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                                <span
                                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                                >
                                    Active
                                </span>
                        </td>
                        <td
                                class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"
                        >
                            Admin
                        </td>
                        <td
                                class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
                        >
                            <a
                                    href="#/"
                                    class="text-indigo-600 hover:text-indigo-900"
                            >Edit</a
                            >
                        </td>
                    </tr>
                    <tr class="hover:bg-gray-200">
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="ml-4">
                                <div
                                        class="text-sm font-medium text-gray-900"
                                >
                                    {name}
                                </div>
                                <div class="text-sm text-gray-500">
                                    jane.cooper@example.com
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="text-sm text-gray-900">
                                Regional Paradigm Technician
                            </div>
                            <div class="text-sm text-gray-500">
                                Optimization
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                                <span
                                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                                >
                                    Active
                                </span>
                        </td>
                        <td
                                class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"
                        >
                            Admin
                        </td>
                        <td
                                class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
                        >
                            <a
                                    href="#/"
                                    class="text-indigo-600 hover:text-indigo-900"
                            >Edit</a
                            >
                        </td>
                    </tr>

                    <!-- More items... -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
