<script lang="ts">
    import {Route} from 'tinro';
    import Dashboard from './Dashboard.svelte';
    import Team from './Team.svelte';
    import Projects from './Projects.svelte';
    import Calendar from './Calendar.svelte';
    import Reports from './Reports.svelte';

    import * as routes from './routes.ts';

    export let name:string;
</script>

<Route>
    <Route path={routes.dashboardPath}><Dashboard name={name}/></Route>
    <Route path={routes.teamPath}><Team/></Route>
    <Route path={routes.projectsPath}><Projects/></Route>
    <Route path={routes.calendarPath}><Calendar/></Route>
    <Route path={routes.reportsPath}><Reports/></Route>
    <Route fallback redirect="{routes.dashboardPath}"/>
</Route>